root: true

env:
  browser: true
  es2022: true
  node: true
  jest: true

parser: "@typescript-eslint/parser"

parserOptions:
  sourceType: module

extends:
  - eslint:recommended
  - plugin:@typescript-eslint/recommended
  - plugin:unicorn/recommended
  - plugin:wc/recommended
  - plugin:prettier/recommended
  - plugin:compat/recommended

plugins:
  - "@typescript-eslint"
  - tsdoc
  - unicorn

rules:
  prefer-const: warn
  no-constant-condition: warn
  no-case-declarations: off
  linebreak-style:
    - error
    - unix
  quotes:
    - warn
    - double
    - avoidEscape: true
  semi:
    - warn
    - never
  indent:
    - warn
    - 2
    - SwitchCase: 1

  unicorn/filename-case: off
  unicorn/number-literal-case: off
  unicorn/numeric-separators-style: off
  unicorn/no-nested-ternary: off
  unicorn/consistent-destructuring: off
  unicorn/no-null: off
  unicorn/no-object-as-default-parameter: off
  unicorn/no-await-expression-member: off
  unicorn/prefer-math-trunc: off
  unicorn/prefer-export-from:
    - error
    - ignoreUsedVariables: true
  unicorn/prevent-abbreviations:
    - warn
    - ignore: [
        "props", "Props", "err", "el", "isDev", "Fn", "fn", "Param",
        "params", "src", "ext", "Ref", "obj", "i", "ev", "args", "El", "Var"
      ]

  compat/compat: warn
  prettier/prettier: warn
  tsdoc/syntax: warn

  "@typescript-eslint/no-inferrable-types": warn
  "@typescript-eslint/no-non-null-asserted-optional-chain": off
  "@typescript-eslint/explicit-module-boundary-types": off
  "@typescript-eslint/no-non-null-assertion": off
  "@typescript-eslint/ban-ts-comment": off
  "@typescript-eslint/no-empty-function": warn
  "@typescript-eslint/no-explicit-any": off
  "@typescript-eslint/no-unused-vars":
    - off
    - argsIgnorePattern: "^_"

ignorePatterns:
  # - "server"
  - ".templates/"
  - "**node_modules/"
  - "**public/"
  - "**types/"
  - "**dist/"
  - "*.d.ts"
  - "*.js"
