root: true

env:
  browser: true
  node: true
  jest: true

overrides:
  - files: ["*.vue"]
    parser: "vue-eslint-parser"
    parserOptions:
      vueFeatures:
        filter: false
      parser: "@typescript-eslint/typescript-estree"
    rules:
      no-undef: warn
      "@typescript-eslint/no-unused-vars": off
      indent: off

extends:
  - "eslint:recommended"
  - "plugin:vue/vue3-recommended"
  - "plugin:@typescript-eslint/recommended"
  - "prettier"
  - "plugin:unicorn/recommended"

parserOptions:
  ecmaVersion: 12
  parser: "@typescript-eslint/parser"
  sourceType: module

plugins:
  - "vue"
  - "@typescript-eslint"
  - "prettier"
  - "eslint-plugin-tsdoc"
  - "unicorn"

rules:
  prettier/prettier: warn
  linebreak-style:
    - error
    - unix
  quotes:
    - error
    - double
  semi:
    - error
    - never
  "vue/require-default-prop": off
  indent:
    - warn
    - 2
    - SwitchCase: 1
  prefer-const: warn

  no-unused-vars: off
  "@typescript-eslint/no-unused-vars":
    - warn
    - argsIgnorePattern: "^_"

  "@typescript-eslint/explicit-module-boundary-types": off
  "@typescript-eslint/no-non-null-assertion": off
  "@typescript-eslint/ban-ts-comment": warn
  "@typescript-eslint/no-empty-function": warn
  "@typescript-eslint/no-explicit-any": off
  tsdoc/syntax: warn
  vue/prop-name-casing: off
  unicorn/filename-case: off
  unicorn/number-literal-case: off
  unicorn/numeric-separators-style: off
  unicorn/no-nested-ternary: off
  unicorn/consistent-destructuring: off
  unicorn/no-null: off
  vue/no-setup-props-destructure: off
  unicorn/prevent-abbreviations:
    - warn
    - ignore: ["props", "err", "el", "isDev"]

ignorePatterns:
  - "**node_modules/"
  - "**public/"
  - "**types/"
  - "**dist/"
  - "*.d.ts"
  - "*.js"
