.holes {
  position: fixed;
  inset: 35px 0 0 0;
  display: grid;
  gap: 3px;
  grid-template-rows: 1fr 5fr;
}

d-canvas:nth-child(3) {
  grid-column: span 2 / auto;
}

.holes d-canvas:hover {
  outline: 1px solid #ff05;
}
