@import "transitions.css";
@import "dat.gui.css";
@import "stats.js.css";
@import "nprogress.css";
@import "toast.css";

:root {
  --blood: #8a0303;
  --terminal: #4af626;
}

body {
  @apply overflow-hidden;
  background-image: repeating-conic-gradient(from 0deg, transparent 0deg 90deg, #d3d4d6 90deg 180deg);
  background-size: 1rem 1rem;
}

#hud, #scene, .loadingScreen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#scene.paused {
  mask-image: radial-gradient(#000a, #000 69%);
}

#scene > canvas {
  width: inherit;
  height: inherit;
}
