@import "panel.css";
@import "transitions.css";
@import "nprogress.css";
@import "toast.css";

#hud,
#scene,
.loadingScreen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#hud {
  pointer-events: none;
}

#hud > * {
  pointer-events: all;
}

#scene.paused {
  mask-image: radial-gradient(#000a, #000 69%);
}

#scene > canvas {
  width: inherit;
  height: inherit;
}
