:root {
  --bg0: linear-gradient(to right, #ed213a, #93291e);
  --bg1: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  --bg2: linear-gradient(to right, #22c1c3, #fdbb2d);
  --bg3: linear-gradient(to right, #5a3f37, #2c7744);
  --bg4: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  --bg5: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  --bg6: #fff;
  --bg7: #000;
  --bg8: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  --blood: #8a0303;
  --terminal: #4af626;
  --typepad: #d2de61;
  --bodybg: var(--bg4);
  --opacity: 0.8;
}
