.dg {
  @apply font-mono text-base;
  color: #e0e0e0;
  user-select: none;
}

.dg.main {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform: scale(var(--gui-scale, 1));
}

.dg.main > ul {
  @apply flex flex-col-reverse;
}

.dg .property-name, .dg .c {
  @apply w-1/2;
}

.dg li:not(.folder) {
  @apply flex items-center font-light tracking-normal h-8;
}

.dg .folder .title {
  @apply text-lg flex font-medium items-center tracking-wide h-8;
}

.dg .folder .closed .title {
  color: #efefef69;
}

.dg .c input[type="text"] {
  @apply leading-none px-1 py-0;
}

.dg .cr > div {
  @apply w-full;
}

.dg .cr.function {
  --btn-border-width: 3px;
  --btn-border-color: #333;
  border-style: outset;
  border-top-width: var(--btn-border-width);
  border-right-width: var(--btn-border-width);
  border-bottom-width: var(--btn-border-width);
  border-left-width: calc(var(--btn-border-width) + 1px);
  border-top-color: var(--btn-border-color);
  border-right-color: var(--btn-border-color);
  border-bottom-color: var(--btn-border-color);
  &:active {
    border-style: inset;
    & .property-name {
      transform: translate(1px, 1px);
    }
  }
}

.dg .cr.function .property-name {
  @apply w-full leading-none;
}

.dg .cr .property-name {
  @apply whitespace-nowrap;
}

.dg .cr.function .c {
  @apply hidden;
}

.dg .cr.string select {
  @apply w-full;
}

.dg.main .close-button {
  color: #666;
  position: relative !important;
  height: 32px;
  line-height: 32px;
}

.dg.main .closed + .close-button {
  transform-origin: bottom left;
  transform: scale(0.5, 1.5);
  background-image: radial-gradient(closest-side, #220, #000);
  border-top-right-radius: 5rem 1rem;
  transition: 80ms;
  color: #690;
}

.dg.main .closed + .close-button:hover {
  color: #cfc;
}
