.dg {
  font-family: var(--font-sans);
  font-size: 17px;
  color: #e0e0e0;
  /* text-shadow: -1px -2px 0 #00690069; */
  letter-spacing: 1px;
  user-select: none;
}

.dg.main {
  grid-area: dat;
  justify-self: start;
  text-shadow: none;
  transform-origin: left bottom;
  transform: scale(var(--gui-scale, 1));
}

.dg.main:hover {
  /* text-shadow: 0px -4px 0px #aaa, 0 0 0 #000, 0px 4px var(--blood); */
  /* transition: text-shadow 150ms ease-in-out 10s; */
}

.dg.main > ul {
  display: flex;
  flex-direction: column-reverse;
}

.dg .property-name, .dg .c {
  width: 50%;
}

.dg li:not(.folder) {
  height: 32px;
  line-height: 32px;
}

.dg .folder .title {
  font-size: 18px;
  color: #efefef;
  /* text-shadow: -1px -1px 0 darkolivegreen; */
}

.dg .folder:first-of-type .closed .title {
  color: #efefef69;
}

.dg .cr.function {
  --btn-border-width: 3px;
  --btn-border-color: #333;
  border-style: outset;
  border-top-width: var(--btn-border-width);
  border-right-width: var(--btn-border-width);
  border-bottom-width: var(--btn-border-width);
  border-left-width: calc(var(--btn-border-width) + 1px);
  border-top-color: var(--btn-border-color);
  border-right-color: var(--btn-border-color);
  border-bottom-color: var(--btn-border-color);
  &:active {
    border-style: inset;
    & .property-name {
      transform: translate(1px, 1px);
    }
  }
}

.dg .cr.function .property-name {
  width: 100%;
  line-height: 22px;
}

.dg .cr.function .c {
  display: none;
}

.dg .cr.string select {
  width: 100%;
}

.dg.main .close-button {
  color: #666;
  position: relative !important;
  height: 32px;
  line-height: 32px;
}

.dg.main .closed + .close-button {
  color: #690;
  /* background-image: linear-gradient(to right, #220, #000); */
  opacity: 0.9;
  transition: 80ms;
}

.dg.main .closed + .close-button:hover {
  color: #cfc;
}
