rules:
  quotes: off
  "@typescript-eslint/no-empty-interface": off
  "@typescript-eslint/no-empty-function": off
  "@typescript-eslint/no-unused-vars": off
  "unicorn/consistent-function-scoping": off
