select.bg-select(
  onchange="globalThis.statem.get('myState').bodybg = `var(--bg${this.selectedIndex})`")
  option(value="bg0") bg0
  option(value="bg1") bg1
  option(value="bg2") bg2
  option(value="bg3") bg3
  option(value="bg4") bg4
  option(value="bg5") bg5
  option(value="bg6") bg6
  option(value="bg7") bg7
  option(value="bg8") bg8
