.Stats {
  top: auto !important;
  transform-origin: left top;
  transition-duration: 100ms;
  &:hover {
    transform: scale(2);
    transition-duration: 150ms;
  }
}

.Stats.mosaic {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  cursor: cell !important;
}

.Stats.mosaic > canvas {
  display: block !important;
}
