.Stats {
  grid-area: stats;
  justify-self: end;
  transform-origin: right bottom;
  transition-duration: 80ms;
  /* z-index: 1000; */

  &:hover {
    transition-duration: 220ms;
    transform: scale(1.6);
  }
}

.Stats.mosaic {
  display: flex;
  flex-direction: column;
  cursor: cell;
}

.Stats.mosaic > canvas {
  display: block !important;
}
