.Stats {
  @apply origin-top-right <sm:top-0 sm:origin-bottom-right sm:bottom-0 right-0 fixed;
  transition-duration: 80ms;
  cursor: zoom-in;
}

.Stats:hover {
  transition-duration: 220ms;
  transform: scale(1.5);
}

.Stats.mosaic {
  display: flex;
  flex-direction: column-reverse;
  cursor: zoom-out;
}

.Stats.mosaic > canvas[style] {
  display: block !important;
}

.Stats.hidden {
  display: none;
}
