.depth.dg.main {
  transform: scale(var(--gui-scale, 1));
  @apply fixed bottom-0 left-0 origin-bottom-left select-none;

  * {
    @apply font-mono text-light-500;
  }

  .folder .dg .title:first-of-type {
    border-top-right-radius: 1.75rem 1rem;
  }

  .folder .folder {
    transform: translateX(1rem);
  }

  > ul {
    @apply flex flex-col-reverse;
  }

  *:not(.closed) li {
    &.title {
      @apply tracking-wide text-lg font-normal h-9 flex items-center transition duration-150;
    }

    &.title::first-letter {
      @apply text-5xl;
    }

    &:hover {
      @apply text-terminal;
    }

    &.cr {
      @apply flex flex-col;
    }

    .property-name,
    .c {
      @apply w-1/2 text-sm font-light tracking-wide;
    }

    .property-name {
      @apply w-1/2 p-3px;
      &:function {
        @apply p-4px;
      }
    }
  }

  .closed .title {
    @apply text-warm-gray-500;
  }

  .c {
    input[type="text"],
    select {
      @apply leading-none px-1 py-0;
    }

    select {
      color: #1ed36f;
      background-color: #303030;
      &:active {
        color: #fff;
      }
      &:hover {
        background-color: #3c3c3c;
      }
    }
  }

  .color .selector {
    margin-top: 0;
  }

  ul:not(.closed) > .cr.function {
    --btn-border-width: 2px;
    --btn-border-color: #333;
    border-style: outset;
    border-top-width: var(--btn-border-width);
    border-right-width: var(--btn-border-width);
    border-bottom-width: var(--btn-border-width);
    border-left-width: calc(var(--btn-border-width) + 1px);
    border-top-color: var(--btn-border-color);
    border-right-color: var(--btn-border-color);
    border-bottom-color: var(--btn-border-color);
    &:active {
      border-style: inset;
      .property-name {
        transform: translate(1px, 1px);
      }
    }
    &.active {
      pointer-events: none;
      .property-name {
        color: #b55;
      }
    }
  }

  .cr.function .property-name {
    @apply w-full leading-none;
  }

  .cr .property-name {
    @apply whitespace-nowrap;
  }

  .cr.function .c {
    @apply hidden;
  }

  .cr.string select {
    @apply w-full;
  }

  .close-button {
    @apply text-sm;
    color: #666;
    position: relative !important;
    height: 32px;
    line-height: 32px;
  }

  .closed + .close-button {
    transform-origin: bottom left;
    transform: scale(0.5, 1.5);
    background-image: radial-gradient(closest-side, #220, #000);
    border-top-right-radius: 5rem 1rem;
    @apply text-emerald-600 transition duration-150;
  }

  .closed + .close-button:hover {
    @apply text-emerald-500;
  }
}
