//- h1 Hello bello


canvas-toolbar

//- bool-button#bb(x="xxxwww")

//-script.
  //-  console.log(globalThis)
  console.log("qwre", globalThis.state)

button#play Play
button#stop Stop

//- input(type="text" value="" onload="this.value = globalThis.abc + `a`")
