:root {
  --blood: #8a0303;
  --video-hide-duration: 150ms;
  --video-hide-transition: visibility var(--video-hide-duration) linear, opacity var(--video-hide-duration) linear;
  --unicode-transition: opacity var(--video-hide-duration) linear;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: pink;
  /* background-image: linear-gradient(180deg, #009efd 0%, #2af598 69%); */
  touch-action: pan-x pan-y;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
}

.loading {
  color: #aaa;
  position: fixed;
  font-size: 6rem;
  line-height: 6rem;
  background-color: #333;
  text-shadow: 2px 2px yellow;
}

#app > canvas {
  width: inherit;
  height: inherit;
}

#app > .grid {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  pointer-events: none;
}

#app > .grid > video {
  visibility: hidden;
  border-radius: 1px;
  box-shadow: 0 0 8px #000;
  max-width: 40%;
  max-height: 40%;
  border: 8px outset var(--blood);
  transition: var(--video-hide-transition);
  opacity: 0;
}

#app > .grid > video.visible {
  transition: var(--video-hide-transition);
  visibility: visible;
  opacity: 1;
}

.dg.main {
  transform-origin: right top;
  transform: scale(var(--gui-scale, 1));  
}

.dg .folder ul .title:first-of-type::first-letter {
  font-size: 1.2rem;
  margin-right: 8px;
  opacity: 1;
  transition: var(--unicode-transition);
}
.dg .folder ul .title:first-of-type {
  line-height: 20px;
}

.dg .folder ul.closed .title:first-of-type::first-letter {
  opacity: 0.65;
  transition: var(--unicode-transition);
}

.dg .folder .property-name::first-letter {
  margin-right: 6px;
  opacity: 0.65;
  transition: var(--unicode-transition);
}

.dg .folder .property-name:hover::first-letter {
  opacity: 1;
  transition: var(--unicode-transition);
}

.stats {
  top: auto !important;
  bottom: 0;
}