* {
  box-sizing: border-box;
  /* user-select: none; */
}

body {
  touch-action: pan-x pan-y;
  /* background-image: linear-gradient(180deg, #009efd 0%, #2af598 69%); */
  background-color: #000;
  /* color: #000; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.videowrapper {
  background-color: green;
  position: relative;
  width: 640px;
  height: 480px;
}

#video {
  /* transform: scaleX(-1); */
  /* visibility: hidden; */
  width: inherit;
  height: inherit;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: #2c3e50;
  height: 100vh;
  width: 100vw;
}

#app > canvas {
  width: inherit;
  height: inherit;
}

#app > video {
  top: 50%;
  left: 50%;
  position: fixed;
  visibility: hidden;
  border-radius: 12px;
  box-shadow: 0 0 12px #000;
  border: 2px outset #8a0303;
  max-width: calc(100% - 15px);
  max-height: calc(100% - 15px);
  transform: translate(-50%, -50%);
}

#app > video.visible {
  visibility: visible;
}

#app > .gui {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 15px;
  background: linear-gradient(to bottom, #b8860b, darkgreen);
  border: 2px solid darkslategrey;
  border-radius: 6px;
  color: yellow;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* z-index: 200; */
}

.hidden {
  display: none;
}
