* {
  box-sizing: border-box;
  /* user-select: none; */
}

body {
  touch-action: pan-x pan-y;
  background-image: linear-gradient(180deg, #009efd 0%, #2af598 69%);
  /* color: #000; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.videowrapper {
  background-color: green;
  position: relative;
  width: 640px;
  height: 480px;
}

#video {
  /* transform: scaleX(-1); */
  /* visibility: hidden; */
  width: inherit;
  height: inherit;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  /* margin-top: 60px; */
  position: relative;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app > canvas {
  /* background: red; */
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

#app > video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
}

#app > video.visible {
  visibility: visible;
  /* width: 300px;
  height: 400px;
  background: red; */
}

#app > .gui {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 15px;
  background: linear-gradient(to bottom, #b8860b, darkgreen);
  border: 2px solid darkslategrey;
  border-radius: 6px;
  color: yellow;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 200;
}
