globals:
  biSyncRef: true
  computed: true
  defineEmits: true
  defineProps: true
  get: true
  not: true
  onBeforeUnmount: true
  onMounted: true
  reactive: true
  ref: true
  set: true
  shallowRef: true
  storeToRefs: true
  syncRef: true
  toRaw: true
  toRef: true
  toRefs: true
  useCssVar: true
  useDevicesList: true
  useEventListener: true
  useFullscreen: true
  useIntervalFn: true
  useMagicKeys: true
  useMediaControls: true
  useNProgress: true
  useTimeout: true
  useTimeoutFn: true
  useToast: true
  useUserMedia: true
  watch: true
  watchEffect: true
  watchWithFilter: true
  whenever: true
